
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenSCAD Web UI</title>

    <link rel="icon" href="/favicon.ico">

    <%= partial 'shared/_pwa' %>
    <%= partial 'shared/_prefetch' %>

    <%= partial 'shared/_stylesheet' %>

    <%= partial 'shared/_importmap' %>
  </head>
  <body>

    <%= yield %>

    <%= partial 'shared/_javascript' %>
  </body>
</html>

